.logo {
    float: left;
    height: 32px;
    margin: 16px;
}

.logo a {
    text-decoration: none;
    font-size: 21px;
    display: inline-block;
}

.logo a:hover {
    text-decoration: none;
}

.profile {
    margin: 10px;
    text-align: center;
}

/* Profile sidebar */
.profile-sidebar {
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 5px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
}